.cardboard {
    border-bottom: 1px solid #ddd;
}

.cardboard .cardboard-hidden {
    display: none;
}

.cardboard .cardboard-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cardboard .cardboard-grow {
    flex-grow: 1
}

.cardboard .cardboard-full {
    width: 100%;
}

.cardboard section {
    border-top: 1px solid #ddd;
    width: 100%;
}

.cardboard section > header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #7f8c8d;
    padding: 12px 12px 12px 0;
}

.cardboard .cardboard-nest {
    box-sizing: border-box;
    border-left: 30px solid #f5f5f5;
    padding-left: 10px;
}

.cardboard input {
    display: block;
    border: none;
    outline: none;
    background: none;
    font-weight: normal;
}

.cardboard .cardboard-toggle {
    cursor: pointer;
}

.cardboard .cardboard-toggle:before {
    content: '';
    position: relative;
    vertical-align: top;
    top: 0.35em;
    left: 0.15em;

    display: inline-block;
    margin-right: 1em;
    width: 0.45em;
    height: 0.45em;

    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    border-color: #7f8c8d;
    transform: rotate(45deg);
    transition: transform .3s, top .3s;
}

.cardboard .cardboard-toggle.cardboard-open:before {
    top: 0.15em;
    transform: rotate(135deg);
}
