.formjs {
    border-bottom: 1px solid #ddd;
}

.formjs .formjs-hidden {
    display: none;
}

.formjs .formjs-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.formjs .formjs-grow {
    flex-grow: 1
}

.formjs .formjs-full {
    width: 100%;
}

.formjs section {
    border-top: 1px solid #ddd;
    width: 100%;
}

.formjs section > header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #7f8c8d;
    padding: 12px 12px 12px 0;
}

.formjs .formjs-nest {
    box-sizing: border-box;
    border-left: 30px solid #f5f5f5;
    padding-left: 10px;
}

.formjs input {
    display: block;
    border: none;
    outline: none;
    background: none;
    font-weight: normal;
}

.formjs .formjs-toggle {
    cursor: pointer;
}

.formjs .formjs-toggle:before {
    content: '';
    position: relative;
    vertical-align: top;
    top: 0.15em;
    left: 0.15em;

    display: inline-block;
    margin-right: 1em;
    width: 0.45em;
    height: 0.45em;

    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #7f8c8d;
    transform: rotate(45deg);
    transition: transform .3s, top .3s;
}

.formjs .formjs-toggle.formjs-open:before {
    top: 0;
    transform: rotate(135deg);
}
